# Core functionality - changes here should be rare!
/src/app.py                   @Georgiy-Lazarenko
/src/backend/database.py      @Georgiy-Lazarenko
/src/backend/routers/auth.py  @Georgiy-Lazarenko

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Georgiy-Lazarenko
